.Request-button
{
    padding-inline: 130px;
    margin-left: 15px;
    margin-top: 50px;
    border: none;
}

.Request-button :hover
{
    background-color: #e65c00;

}

.Address-modal
{
    padding: 50px;
}

.text-orange
{
  color : #e65c00;
}

.bg-orange
{
  background-color: #e65c00;
}

@media (max-width: 576px) {
  .Address-modal
  {
    padding-inline: 20px;
    
  }
  .Request-button
  {
    font-size: 20px !important;
  }
  .Request-button
  {
    margin-left: 30px;
    padding-block: 10px !important;
    padding-inline: 60px !important;
  }
  .sizeloc
  {
    font-size: 15px !important;
  }
}