.Payment-Type-btn
{
    background-color: #e86317;
    border: none;
  
}

.Payment-Type-btn:active
{
    background-color: #e86317 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Payment-Type-btn:hover
{
    background-color: #e86317 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensure it covers modals */
}
