.about-us-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-heading {
    color: #e65c00;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-text {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
  }
  