.containeres {
    max-width: 600px;
  
  }
  
  h2 {
    font-weight: 700;
  }
  
  .card-header {
    cursor: pointer;
    background-color: #f8f9fa;
  }
  
  .card-header:hover {
    background-color: #e9ecef;
  }
  