.custom-navbar {
  background-color: #f8f9fa; /* Customize the background color */
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  text-align: center;
}

.navbar-nav .nav-link {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #333; /* Customize the link color */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Customize hover color */
}

.profile-image {
  width: 40px;
  height: 40px;
}

.profile-dropdown .dropdown-menu {
  right: 0;
  left: auto;
  text-align: center;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
    margin: auto;
  }

  .profile-dropdown {
    margin-left: auto;
    margin-right: 0;
  }
}
